#spanImg1 {
    width: 95vw;
    position: relative;
    left: calc(-47.5vw + 50%);
    overflow: hidden;
    height: 700px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("../images/gameOverview.png");
    background-position-x: center;
    background-position-y: top;
    box-shadow: 0px 0px 30px 10px black inset;
}